### Build ###
/build/
/release/

### Codeception ###
/codeception.yml
/tests/*.suite.yml
/tests/_output/*
/tests/_support/_generated/
/tests/_tmp/*
!/tests/_tmp/.gitkeep

### Composer ###
/composer.lock
/vendor/

### npm ###
/node_modules/

### PhpStorm ###
/.idea/
